@model Application.Models.TicketListModel
@{
    ViewBag.Title = "Ticket List";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12">
            @Html.Partial("_Alerts")

            <a href="Ticket/Create" class="btn btn-info">Creaza Ticket</a>

            @foreach (var ticket in @Model.Ticktes)
            {
                if (!ticket.IsClosed)
                {
                    <div class="alert alert-success mt-3" role="alert">
                        <a href="Ticket/View/@ticket.Id">@ticket.Title</a>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger mt-3" role="alert">
                        <a href="Ticket/View/@ticket.Id">@ticket.Title</a>
                    </div>
                }
            }
        </div>

    </div>
</div>